.defaultText {
  font-size: 45;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#clockBackground {

}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

.plus-button #image {
  href: "play-button.png";
  /* x:150;
  y:120; */
}

#play-button {
  x: 68;
  y: 68;
  width:60%;
  height:60%;
}

.toast
  { opacity: 0.0 }
